[project]
	description = A provider for zvmsdk 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ji chen (jichenjc)
[access "refs/for/refs/*"]
	read = group user/ji chen (jichenjc)
	push = group user/ji chen (jichenjc)
	label-Code-Review = -2..+2 group user/ji chen (jichenjc)
	label-Verified = -1..+1 group user/ji chen (jichenjc)
	rebase = group user/ji chen (jichenjc)
	removeReviewer = group user/ji chen (jichenjc)
	submit = group user/ji chen (jichenjc)
[access "refs/heads/*"]
	read = group user/ji chen (jichenjc)
	create = group user/ji chen (jichenjc)
	push = +force group user/ji chen (jichenjc)
	pushMerge = group user/ji chen (jichenjc)
[access "refs/tags/*"]
	push = group user/ji chen (jichenjc)
	push = +force group user/ji chen (jichenjc)
